ul{
    list-style: none;
}
.menu{
    /* background-color: #047fb8; */
    background-color: #187498;
    display: flex;
    height: 2em;
}

.brand-name{
    width: 100%;
    /* background-color: red; */
}

.brand-name ul{
    display: flex;
    justify-content: left
}

.brand-name a:hover{
    color: rgb(0, 255, 17);
}

.brand-name li{
    padding-left: 10%;
    margin-top: 0.5%;

}

.brand-name a{
    text-decoration: none;
    color: #ffffff;
}


