.hienthi-nhom{
    width: 100%;
}
.tieude-admin h1{
    text-align: center;
}

.themnhom{
    margin-left: 51%;
    margin-bottom: 0.5%;
    width: 40%;
   
}
.themnhom button{
    background-color: red;
    padding: 5px;
   
    font-size: 1.2em;
}

.hienthi-nhom table{
    width: 50%;
    background-color: #A0BCC2;
}