.them-nhom{
   /* background-color: aqua; */
   width: 100%;
   
   
}

table{
    margin: auto;
    border: 2px solid #d2cdcd;
    width:42.3%;
    padding-bottom: 2em;
    font-size: 1.3em;
    background-color: #A0BCC2;
    width: 50%;
    border-radius: 4px;
}
.them-nhom .them-nhom-text{
    padding-top: 0.5em;
    margin: 0 auto;
    width:50%;
    padding-bottom: 2%;
    
    
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    
}


.them-nhom input[type=text]{
    width: 60%;
    height: 30px;
   margin-left: 20%;
   outline: none;
   
   
}

.them{
    
   
    width:49.15%;
    height: 2em;
    margin: 3% auto;
    
}
 button{
    margin-left: 40%;
     height: 80%;
     border-radius: 2px;
     background-color:#52BF7F ;
     color:#ffffff;
     border: none;
     width: 20%;
   
}